<form [formGroup]="form" novalidate>
    <div *ngFor="let prop of objectProps">
        <label [for]="prop"></label>

        <div [ngSwitch]="prop.type">

            <input *ngSwitchCase="'text'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type">
            <div *ngSwitchCase="'select'">
                <select [formControlName]="prop.key">
                    <option *ngFor="let option of prop.options" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
            </div>

            <div *ngSwitchCase="'radio'">
                <label *ngFor="let option of prop.options">
                    <input type="radio" [name]="prop.key" [formControlName]="prop.key" [value]="option.value">
                    {{ option.label }}
                </label>
            </div>
            <div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">
                <div *ngIf="form.get(prop.key).errors.required">
                    is required.
                </div>
            </div>
        </div>



    </div>

    <button type="submit">Save</button>
</form>


{{ form.value | json }}
