<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLinkActive="active" routerLink="posts">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            Posts</a>
            <a clrVerticalNavLink routerLinkActive="active" routerLink="sanitize">
                <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                Sanitize</a>
        <clr-vertical-nav-group routerLinkActive="active">
            <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
            Normal
            <clr-vertical-nav-group-children>
                <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
                    Pidgey
                </a>
                <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
                    Snorlax
                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>

    </clr-vertical-nav>
</div>