
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">
  <input type="radio" name="colors" (click)="color='yellow'">
  <input type="radio" name="colors" (click)="color='cyan'">
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum dolore, consequatur incidunt sit nihil veniam voluptate,
  blanditiis accusantium <span appHighlight [highlightColor]="color"> officia provident</span>, earum debitis illum quod inventore hic a! Perspiciatis, consequatur!</p>




<app-multiselect-body></app-multiselect-body>

<app-form-example></app-form-example>
