<div #postContainer (window:resize)="onResize($event)" (window:scroll)="onScroll($event)">
    <div *ngIf="!isLoading; else showSpinner">

        <div class="form-group">
            <input type="text" class="" (keyup)="search($event.target.value)">
        </div>
        <div class="card-columns">
            <app-post-detail class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let post$ of posts" [post]="post$"></app-post-detail>
        </div>

    </div>

</div>
<ng-template #showSpinner>
    <app-spinner [size]="'lg'"></app-spinner>
</ng-template>